@font-face {
  font-family: 'kinetika';
  src: url('../res/fonts/Kinetika_Light.otf') format('opentype');
}

h1 {
  font-family: kinetika;
  font-weight: bold;
  text-align: center;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
}

.nav_links {
  display: flex;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.nav_links li {
  margin-left: 20px;
}

.nav_links a {
  text-decoration: none;
  font-family: kinetika;
  font-size: 11px;
  font-weight: bold;
  color: black;
}

/* Style the logo */
.logo a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}
